argcomplete
asgiref
boto3
botocore
certifi
cffi
cfn-flip
charset-normalizer
click
colorama
cryptography
defusedxml
distlib
dj-rest-auth
Django==4.2.2
django-allauth
django-apps
django-config-url
django-rest-auth
django-rest-framework
django-storages
django-urls
djangorestframework
djangorestframework-simplejwt
durationpy
filelock
gunicorn
hjson
idna
jmespath
joblib
kappa
MarkupSafe
numpy
oauthlib
pandas
phonenumbers
Pillow
placebo
platformdirs
pycparser
PyJWT
python-dateutil
python-slugify
python3-openid
pytz
PyYAML
requests
requests-oauthlib
s3transfer
scikit-learn
scipy
six
sqlparse
text-unidecode
threadpoolctl
toml
tqdm
troposphere
typing_extensions
tzdata
urllib3
virtualenv
Werkzeug
zappa
